@import '../../../color-palette'

#location-container
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    height: 30vh
    width: 50vw

.location-radio-group
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  height: 15vh